.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
    0% {
        d: path(
            'M 0,400 C 0,400 0,133 0,133 C 67.55384615384617,154.23076923076923 135.10769230769233,175.46153846153848 204,178 C 272.89230769230767,180.53846153846152 343.12307692307684,164.3846153846154 444,146 C 544.8769230769232,127.61538461538461 676.4,106.99999999999999 754,95 C 831.6,83.00000000000001 855.276923076923,79.61538461538463 928,101 C 1000.723076923077,122.38461538461537 1122.4923076923078,168.53846153846155 1216,178 C 1309.5076923076922,187.46153846153845 1374.753846153846,160.23076923076923 1440,133 C 1440,133 1440,400 1440,400 Z'
        );
    }
    25% {
        d: path(
            'M 0,400 C 0,400 0,133 0,133 C 63.576923076923066,150.53076923076924 127.15384615384613,168.06153846153848 211,168 C 294.84615384615387,167.93846153846152 398.96153846153845,150.2846153846154 481,135 C 563.0384615384615,119.71538461538462 623,106.80000000000001 705,110 C 787,113.19999999999999 891.0384615384617,132.51538461538462 982,126 C 1072.9615384615383,119.4846153846154 1150.8461538461538,87.13846153846154 1225,84 C 1299.1538461538462,80.86153846153846 1369.576923076923,106.93076923076923 1440,133 C 1440,133 1440,400 1440,400 Z'
        );
    }
    50% {
        d: path(
            'M 0,400 C 0,400 0,133 0,133 C 91.33076923076922,136.55897435897435 182.66153846153844,140.11794871794874 252,143 C 321.33846153846156,145.88205128205126 368.6846153846154,148.0871794871795 453,146 C 537.3153846153846,143.9128205128205 658.5999999999999,137.53333333333333 756,139 C 853.4000000000001,140.46666666666667 926.9153846153847,149.77948717948718 989,141 C 1051.0846153846153,132.22051282051282 1101.7384615384615,105.34871794871795 1175,101 C 1248.2615384615385,96.65128205128205 1344.1307692307691,114.82564102564103 1440,133 C 1440,133 1440,400 1440,400 Z'
        );
    }
    75% {
        d: path(
            'M 0,400 C 0,400 0,133 0,133 C 81.43076923076927,140.58205128205128 162.86153846153854,148.16410256410256 236,134 C 309.13846153846146,119.83589743589744 373.98461538461527,83.92564102564103 445,94 C 516.0153846153847,104.07435897435897 593.2000000000002,160.13333333333333 687,178 C 780.7999999999998,195.86666666666667 891.2153846153844,175.54102564102564 979,162 C 1066.7846153846156,148.45897435897436 1131.9384615384618,141.7025641025641 1205,138 C 1278.0615384615382,134.2974358974359 1359.0307692307692,133.64871794871794 1440,133 C 1440,133 1440,400 1440,400 Z'
        );
    }
    100% {
        d: path(
            'M 0,400 C 0,400 0,133 0,133 C 67.55384615384617,154.23076923076923 135.10769230769233,175.46153846153848 204,178 C 272.89230769230767,180.53846153846152 343.12307692307684,164.3846153846154 444,146 C 544.8769230769232,127.61538461538461 676.4,106.99999999999999 754,95 C 831.6,83.00000000000001 855.276923076923,79.61538461538463 928,101 C 1000.723076923077,122.38461538461537 1122.4923076923078,168.53846153846155 1216,178 C 1309.5076923076922,187.46153846153845 1374.753846153846,160.23076923076923 1440,133 C 1440,133 1440,400 1440,400 Z'
        );
    }
}
.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
    0% {
        d: path(
            'M 0,400 C 0,400 0,266 0,266 C 59.05384615384614,253.75641025641025 118.10769230769228,241.5128205128205 204,257 C 289.8923076923077,272.4871794871795 402.62307692307695,315.7051282051282 499,308 C 595.376923076923,300.2948717948718 675.4000000000001,241.66666666666669 745,224 C 814.5999999999999,206.33333333333331 873.7769230769229,229.62820512820514 955,246 C 1036.223076923077,262.37179487179486 1139.4923076923078,271.8205128205128 1224,274 C 1308.5076923076922,276.1794871794872 1374.253846153846,271.0897435897436 1440,266 C 1440,266 1440,400 1440,400 Z'
        );
    }
    25% {
        d: path(
            'M 0,400 C 0,400 0,266 0,266 C 92.72820512820513,241.67179487179487 185.45641025641027,217.34358974358975 250,231 C 314.54358974358973,244.65641025641025 350.90256410256416,296.2974358974359 437,298 C 523.0974358974358,299.7025641025641 658.9333333333335,251.46666666666667 758,232 C 857.0666666666665,212.53333333333333 919.3641025641023,221.83589743589744 996,228 C 1072.6358974358977,234.16410256410256 1163.6102564102566,237.18974358974359 1240,243 C 1316.3897435897434,248.81025641025641 1378.1948717948717,257.4051282051282 1440,266 C 1440,266 1440,400 1440,400 Z'
        );
    }
    50% {
        d: path(
            'M 0,400 C 0,400 0,266 0,266 C 96.77692307692308,260.81538461538463 193.55384615384617,255.63076923076923 270,242 C 346.44615384615383,228.36923076923077 402.56153846153836,206.29230769230767 472,224 C 541.4384615384616,241.70769230769233 624.2,299.20000000000005 713,305 C 801.8,310.79999999999995 896.6384615384616,264.9076923076923 974,256 C 1051.3615384615384,247.0923076923077 1111.2461538461537,275.1692307692308 1186,283 C 1260.7538461538463,290.8307692307692 1350.376923076923,278.4153846153846 1440,266 C 1440,266 1440,400 1440,400 Z'
        );
    }
    75% {
        d: path(
            'M 0,400 C 0,400 0,266 0,266 C 83.46153846153848,262.06666666666666 166.92307692307696,258.1333333333333 252,258 C 337.07692307692304,257.8666666666667 423.7692307692307,261.5333333333333 491,256 C 558.2307692307693,250.4666666666667 605.9999999999999,235.73333333333335 681,247 C 756.0000000000001,258.26666666666665 858.2307692307695,295.53333333333336 943,302 C 1027.7692307692305,308.46666666666664 1095.076923076923,284.1333333333333 1175,273 C 1254.923076923077,261.8666666666667 1347.4615384615386,263.93333333333334 1440,266 C 1440,266 1440,400 1440,400 Z'
        );
    }
    100% {
        d: path(
            'M 0,400 C 0,400 0,266 0,266 C 59.05384615384614,253.75641025641025 118.10769230769228,241.5128205128205 204,257 C 289.8923076923077,272.4871794871795 402.62307692307695,315.7051282051282 499,308 C 595.376923076923,300.2948717948718 675.4000000000001,241.66666666666669 745,224 C 814.5999999999999,206.33333333333331 873.7769230769229,229.62820512820514 955,246 C 1036.223076923077,262.37179487179486 1139.4923076923078,271.8205128205128 1224,274 C 1308.5076923076922,276.1794871794872 1374.253846153846,271.0897435897436 1440,266 C 1440,266 1440,400 1440,400 Z'
        );
    }
}
